@()

@main("sign up"){
<script>
    function validate(){
    var phoneno = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
    if((document.getElementById['mobile'].value.match(phoneno))
       {
           return true;
       }
    else
       {
           alert("message");
           return false;
       }
}
</script>
<div id="container_demo">
    <div id="wrapper">
        <div id="login" class="animate form">
            <h1> Sign up </h1>
            <form action="@routes.SignUpController.addPersonDetails()" onsubmit="return validate()" method="post">
                <div class="form-inline">
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="username">Username:</label>
                            <input type="text" class="form-control"
                                   id="username" name="username" placeholder="Choose your username" required="required">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Email:</label>
                            <input type="email" class="form-control"
                                   id="email" name="email" placeholder="Enter your Email">
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label col-sm-2" for="mobile">Mobile:</label>
                        <input type="number" class="form-control"
                               id="mobile" name="mobile" placeholder="Enter your phone no">
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="passwd">Password:</label>
                            <input type="password" class="form-control"
                                   id="passwd" name="passwd" placeholder="Create a password" required="required">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="repasswd">Confirm Password:</label>
                            <input type="password" class="form-control"
                                   id="repasswd" name="repasswd"
                                   placeholder="Re-enter your password" required="required">
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="row">
                            <label for="fName">First Name:</label>
                            <input type="text" class="form-control"
                                   id="fName" name="fName" placeholder="Enter your First Name" required="required">
                        </div>
                    </div>
                    <div class="row">
                        <label for="mName">Middle Name:</label>
                        <input type="text" class="form-control"
                               id="mName" name="mName" placeholder="Enter your Middle Name">
                    </div>
                    <div class="row">
                        <label for="lName">Last Name:</label>
                        <input type="text" class="form-control"
                               id="lName" name="lName" placeholder="Enter your Last Name" required="required">
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                        <label for="gender">Gender:</label>
                        <select class="form-control" id="gender" name="gender" required="required">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Transgender">TransGender</option>
                        </select>
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                            <label for="age">Age:</label>
                            <input type="number" class="form-control"
                                   id="age" name="age" required="required">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="hobbies">Hobbies:</label>
                    <input type="text" class="form-control"
                           id="hobbies" name="hobbies" placeholder="Enter your hobbies">
                </div>
                <br/>
                <div class="row">
                    <button class="btn btn-success form-control"> Submit </button>
                </div>
            </form>
        </div>
    </div>
</div>
}